<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block style %}
		
		{% endblock %}
		<title>Projet RH</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</head>
	<body style="font-family: 'Amaranth'; background-color: rgb(59, 59, 255);">
		{% block header %}
		{% endblock %}
<main>
		{% block main %}
        {% endblock %}
</main>
		{% block footer %}
		{% endblock %}

		{% block script %}
        {% endblock %}

	</body>
</html>