<section>
	<form method="POST" action= "/login">
		<input id="email" type="text" name="mail" placeholder="EMAIL...">
		<input id="password" type="password" name="password" placeholder="MOT DE PASSE...">
		<button id="buttonConnexion" >CONNEXION</button>
	</form>
</section>