{% extends "../base.twig" %}
{% block header %}
	{% include "../layouts/_header.twig" %}

{% endblock %}

{% block style %}
	<link rel="stylesheet" href="/css/homePage.css">
{% endblock %}


{% block main %}
	<main>
		<section id="sectionStart">
			<h1>Ici vous pouvez ajouter vos employés et les blâmer !</h1>
			<div>
				<a class="aButton" href="/subscribe">Commencer</a>
			</div>
		</section>

	</main>

{% endblock %}
